<div class="login-box">
  <img src="/assets/images/Gimig-Logo-White.png" alt="Gimig-Logo-White" />
  <div class="form-group">
    <label for="exampleInputEmail1">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="example@email.com"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Passwort</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="*******"
    />
  </div>
  <div class="btn" routerLink="/home">Anmelden</div>
</div>
