* {
    box-sizing: border-box;
}

.item-card {
  margin: 20px 0px;
  padding: 15px;
  background-color: #484848;
  color: white;
  border-radius: 15px;
  box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

.text-field{
  padding: 10px 0px;
  height: 8.5rem;
}

.action-field{
  margin: 0px 5px;

 margin-top: auto;
 margin-bottom: auto;
}

h5{
    font-weight: 600;
    font-size: 18px;
}

#desc{
  margin:  20px 0;
}

#price {
  margin-top: 10px;
  font-weight: 800;
}

img{
  width: 10rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 15px;
}

.btn-icon {
  color: whitesmoke;
}


/* ### PHONE ### */
@media screen and (max-width: 768px) {
  .main-row{
    flex-direction: column;
  }
  img{
    width: 100%;
    height: auto;
  }
  
}
/* ### PHONE ### */
@media screen and (max-width: 575px) {
  .item-card {
    border-radius: 0px;
  }

}