.center {
  display: flex;
  justify-content: center;
}


.container{
  margin-top: 4rem;
}

/* ### PHONE ### */
@media screen and (max-width: 768px) {
  .container {
    margin-top: 1.5rem;
  }

}

/* ### PHONE ### */
@media screen and (max-width: 575px) {
  .container {
    margin-top: 0rem;
  }

}