<div class="create-item-card">
    <div class="container">
        <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-between">
                <div class="col">
                    <h5>Neues Item hinzufügen</h5>
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Item Name" formControlName="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="description" rows="3" formControlName="description" placeholder="Beschreibung"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Price" formControlName="price" />
                        </div>
                    </div>

                    <div class="custom-file form-control">
                        <input type="file" class="custom-file-input" id="itemImage" formControlName="imagePath" (change)="onFileSelected($event)" />
                        <label class="custom-file-label" for="itemImage">{{
              fileText
            }}</label>
                    </div>

                    <button class="btn btn-submit btn-large" type="submit" [disabled]="!createItemForm.valid">
            {{ !isEditMode ? "Erstellen" : "Aktualisieren" }}
          </button>
                </div>
                <!-- PLACEHOLDER -->
                <div class="img-placeholder" *ngIf="!imgURL && !editImage">
                    <span class="material-icons"> wallpaper </span>
                </div>
                <!-- SELECTED IMAGE -->
                <div *ngIf="imgURL">
                    <img [src]="imgURL" />
                </div>
                <!-- EDIT IMAGE -->
                <div *ngIf="!imgURL && editImage | async; let url">
                    <img [src]="url" />
                </div>
                <button class="btn btn-mobile btn-submit" type="submit" [disabled]="!createItemForm.valid">
          {{ !isEditMode ? "Erstellen" : "Aktualisieren" }}
        </button>
            </div>
        </form>
    </div>
</div>