* {

  box-sizing: border-box;
}

.container {
  padding: 20px;
  background-color: #484848;
  border-radius: 15px;
  box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

h5 {
  font-size: 16px;
  color: white;
  font-weight: 800;
}

.form-control {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  width: 30rem;
  border-color: #5c5c5c;
}

input {
  padding-left: 10px;
  background-color: #5c5c5c;
  color: whitesmoke;
  border-color: #5c5c5c;
}

input:focus {
  padding-left: 10px;
  background-color: #424242;
  color: whitesmoke;
  border-color: rgba(255, 127, 80, 0.514);
  box-shadow: none !important;

}

::placeholder {
  color: whitesmoke;
  opacity: 0.8;

}

textarea{
    padding-top: 7px;
  padding-left: 10px;
  background-color: #5c5c5c;
  color: whitesmoke;
  border-color: #5c5c5c;
}

textarea:focus {
  padding-left: 10px;
  background-color: #424242;
  color: whitesmoke;
  border-color: rgba(255, 127, 80, 0.514);
  box-shadow: none !important;
}

select {
  padding-left: 6px;
  background-color: #5c5c5c;
  color: whitesmoke;
  border-color: #5c5c5c;
}

select:focus {
  padding-left: 6px;
  background-color: #424242;
  color: whitesmoke;
  border-color: rgba(255, 127, 80, 0.514);
  box-shadow: none !important;
}

[type="file"]:focus+label {
  background-color: #424242;
  color: whitesmoke;
  border-color: rgba(255, 127, 80, 0.514);
  box-shadow: none !important;
}

label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #5c5c5c;
  color: whitesmoke;
  border-color: #5c5c5c;

}

.btn-mobile {
  display: none;
}

.btn-submit {
  padding: 5px 10px;
  margin-top: 2rem;
  background-color: coral;
  border-radius: 5px;
  width: 15rem;
  color: white;
}

img {
  width: 30rem;
  height: 21.6rem;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.img-placeholder {
  width: 30rem;
  height: 21.6rem;
  border-radius: 15px;
  background-color: coral;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
}

.material-icons {
  font-size: 50px;
  color: whitesmoke;
}

/* ### TABLET ### */
@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .form-control {
    width: 100%;
  }

  select {
    width: inherit;
  }

  img {
    margin-top: 2rem;
    width: 22rem;
    height: 15rem;
  }

  .img-placeholder {
    margin-top: 2rem;
    width: 22rem;
    height: 15rem;
  }

  .btn-large {
    display: none;
  }

  .btn-mobile {
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    width: 22rem;
    color: white;
  }

}

/* ### PHONE ### */
@media screen and (max-width: 575px) {
  .container {
    border-radius: 0px;
  }

}

/* ### PHONE ### */
@media screen and (max-width: 375px) {
  .create-category-card {
    transform: translateX(0%);
  }

  .form-control {
    width: 100%;
  }

  .img-placeholder {
    margin-top: 2rem;
    margin: 30px 0px 0px 0px;
    width: 90%;
    height: 10rem;
  }

  img {
    margin-top: 2rem;
    margin: 30px 0px 0px 0px;
    width: 90%;
    height: 10rem;
  }

  .btn-mobile {
    display: block;
    width: 90%;
    color: white;
  }

}