
.row{
    margin-top: 3rem;
    width: 80rem;

    
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.heading-text {
  display: block;
  color: white;
  font-family: "BigJohn";
line-height: 2.6rem;
  font-size: 3rem;


}

hr {
  margin-top: 0.5rem;
  background-color: white;
  width: 80rem;

}

.material-icons {
  color: white;
  font-size: 30px;
  margin-left: 2rem;



}

i{
    padding: 0;
    margin: 0;

   
}

/* .align{
    display: flex;


    margin-top: auto;
    margin-bottom: auto;
} */