<div class="title-element">
    <div class="container">
        <div class="row">
            <div (click)="backClicked()">
                <i class="material-icons">arrow_back</i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="heading-text">{{ title1 ? title1 : "Meine" }}</h3>

                <h3 class="heading-text big">{{ title2 ? title2 : "Speisekarte" }}</h3>
            </div>
            <img src="/assets/images/Gimig-Logo-White.png" alt="Gimig-Logo-White" />
        </div>
        <hr />
    </div>
</div>
