/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';

@font-face {
  font-family: BigJohn;
  src: url(src/assets/fonts/BIGJOHN.otf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3A3A3A;
}