<div class="row center">
  <div class="create-category-card">
    <div class="row">
      <div class="col-xs-6">
        <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmit()">
          <h5>Neue Kategorie hinzufügen</h5>
          <div class="form-group row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Kategorie Name"
                formControlName="name"
              />
            </div>
          </div>
          <select class="form-control" formControlName="hasCategories">
            <option value="false">Enthält Speisen/Getränke</option>
            <option value="true">Enthält weitere Kategorien</option>
          </select>
          <select class="form-control" formControlName="hasFood">
            <option value="true">Enthält Speisen</option>
            <option value="false">Enthält Getränke</option>
          </select>
          <div class="custom-file form-control">
            <input
              type="file"
              class="custom-file-input"
              id="categoryImage"
              formControlName="imagePath"
              (change)="onFileSelected($event)"
            />
            <label class="custom-file-label" for="categoryImage">{{
              fileText
            }}</label>
          </div>

          <button
            class="btn btn-submit"
            type="submit"
            [disabled]="!createCategoryForm.valid"
          >
            {{ !isEditMode ? "Erstellen" : "Aktualisieren" }}
          </button>
        </form>
      </div>
      <div class="col-xs-6">
        <div class="img-placeholder center" *ngIf="!imgURL">
          <span class="material-icons"> wallpaper </span>
        </div>
        <img [src]="imgURL" *ngIf="imgURL" />
      </div>
    </div>
  </div>
</div>
